body{
    background-color: beige;
    color: cadetblue;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
/* input{
    height: 20px;
} */
#assessment{
    background-color: darkgoldenrod;
    color: white;
    border-style: none;
    padding: 1px 20px;
    border-inline: 2px;
}
#tweet-area{
    margin: 5px 0 5px 0;
}